.heading-primary {
  font-family: $font-primary;
  font-size: 12.4rem;
  color: $color-black;
  z-index: 0;

  &--main {
    display: block;
    text-align: left;

  }
  
  &--middle {
    display: block;
    text-align: left;
    color: $color-secondary;
  }
  
  &--sub {
    display: block;
    text-align: left;
  }

  @media screen and (max-width: $bp-small) {
    font-size: 6.3rem;
  }
}

.heading {
  grid-column: 1 / -1;

  position: absolute;
  left: 10rem;
  top: 30%;
}