.menus {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, min-content);
  grid-gap: 6rem;
 
  padding: 8rem;
  margin: 1rem 0;

  @media screen and (max-width: $bp-medium) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 8rem 2rem 2rem;
  }

}

.menu {
  display: grid;

  &__name {
    font-weight: bold;
  }

  &__items {
    text-transform: capitalize;
    font-size: 2rem;
   
  }

  &__list {
    display: grid;
  }

  &__title {
    font-size: 3rem;
    padding-bottom: 1rem;
  }

  &__info {
    font-size: 1.3rem;
  }

  &__list__item {
    list-style: none;
  }

  &__list__price {
    float: right;
  }

}

.pizza {
  display: grid;

  &__items {
    display: grid;
    grid-template-columns: repeat(4, auto);
    //grid-template-rows: auto;
    grid-gap: 1rem;
  }

  &__size__M {
    grid-column-start: 2;
  }
  
  &__size__L {
    grid-column-start: 3;
  }

  &__size__XL {
    grid-column-start: 4;
  }

  &__list {
    display: grid;
    grid-row-start: 2;
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem;
  }

  &__list__item {
    list-style: none;
  }

  &__price__M {
    display: grid;
    grid-template-rows: repeat(10, auto);
    align-items: center;
  }

  &__price__L {
    display: grid;
    grid-template-rows: repeat(10, auto);
    align-items: center;
  }

  &__price__XL {
    display: grid;
    grid-template-rows: repeat(10, auto);
    align-items: center;
  }


}