@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #FEF2E7;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Fira Sans Condensed", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes moveLeftToRight {
  from {
    left: 45%;
  }
  to {
    left: 100%;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes grow {
  50% {
    transform: scale(1);
  }
}
.heading-5, .heading-4, .heading-2, .heading-1 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 4.5rem;
  color: #fcc898;
  line-height: 1;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
}

.heading-2 {
  font-size: 2.8rem;
  color: #fcc898;
  line-height: 1;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
}

.heading-4 {
  font-size: 1.9rem;
  line-height: 1.6;
}
.heading-4--light {
  color: #f9f7f6;
}
.heading-4--dark {
  color: #54483A;
}

.heading-5 {
  font-size: 2rem;
}
.heading-5--light {
  color: #f9f7f6;
}
.heading-5--dark {
  color: #54483A;
}

#scrollToTopBtn {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#scrollToTopBtn::after {
  content: "";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#scrollToTopBtn:hover {
  cursor: pointer;
  background-color: #333;
}

#scrollToTopBtn:active {
  background-color: #555;
}

#scrollToTopBtn.show {
  opacity: 1;
  visibility: visible;
}

/*
header should be frontpg so move everything inside it
*/
.header {
  background-color: #FEF2E7;
  overflow: hidden;
}
.header__text-box {
  position: absolute;
  left: 10rem;
  top: 30%;
}

.heading-primary {
  font-family: "Righteous", cursive;
  font-size: 10.2rem;
  color: #5D5858;
  z-index: 0;
}
.heading-primary--main {
  display: block;
  text-align: left;
}
.heading-primary--middle {
  display: block;
  text-align: left;
  color: #fcc898;
}
.heading-primary--sub {
  display: block;
  text-align: left;
}

.bg-custom {
  background-color: #FEF2E7 !important;
}

.nav-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.nav-btn .nav-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #4a4646;
  transition: all 0.5s ease-out;
}
.nav-btn.close {
  transform: rotate(180deg);
  z-index: 11;
}
.nav-btn.close .nav-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.nav-btn.close .nav-line:nth-child(2) {
  opacity: 0;
}
.nav-btn.close .nav-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.navigation {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  visibility: hidden;
}
.navigation.show {
  visibility: visible;
  z-index: 1;
}
.navigation-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #fcc38e;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}
.navigation-nav.show {
  transform: translate3d(0, 0, 0);
}
.navigation .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out;
}
.navigation .nav-item.show {
  transform: translate3d(0, 0, 0);
}
.navigation .nav-item.current > a {
  color: #fff;
}
.navigation .nav-link {
  display: inline-block;
  position: relative;
  font-size: 3.1rem;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #5D5858;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.navigation .nav-link:hover {
  color: #fff;
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

.deals {
  padding: 5rem;
  background-color: #FEF2E7;
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "header header header header" "main main main main ";
}
.deals__title {
  text-align: center;
  grid-column: header;
  padding-top: 5rem;
}

.underline {
  border-top: 3px double #8c8b8b;
}

.combos {
  padding: 5rem;
  background-color: #FEF2E7;
  grid-column: main;
  grid-column-start: 2;
}
@supports (display: grid) {
  .combos {
    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: 3rem;
    align-items: start;
  }
}

.combo {
  float: left;
  width: 33.3333%;
  margin-bottom: 6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1.5rem;
  grid-column-gap: 3rem;
}
@supports (display: grid) {
  .combo {
    width: auto;
    margin-bottom: 0;
  }
}
.combo__text {
  font-size: 1.7rem;
  list-style-image: url("../../img/icomoon/SVG/chevron-small-right.svg");
  list-style-type: circle;
}
.combo__price {
  font-size: 2.2rem;
  grid-column-start: 2;
  align-content: flex-end;
  color: #FCC2C3;
}

.title {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  text-align: center;
}

.menus {
  background-color: #FEF2E7;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 6rem;
  align-items: start;
  padding: 8rem;
  margin: 1rem 0;
}
@media screen and (max-width: 37.5em) {
  .menus {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.menu {
  display: grid;
  grid-template-rows: repeat(2, auto);
}
.menu__name {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.menu__items {
  font-family: "Chivo", sans-serif;
  text-transform: capitalize;
  font-size: 2rem;
  display: grid;
  grid-row-start: 2;
}
.menu__list {
  display: grid;
}
.menu__title {
  text-transform: uppercase;
  font-size: 3rem;
}
.menu__info {
  font-size: 1.5rem;
}
.menu__list__item {
  list-style: none;
}
.menu__list__price {
  float: right;
}

.pizza {
  display: grid;
}
.pizza__items {
  font-family: "Chivo", sans-serif;
  text-transform: capitalize;
  font-size: 2rem;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
}
.pizza__size__M {
  grid-column-start: 2;
}
.pizza__size__L {
  grid-column-start: 3;
}
.pizza__size__XL {
  grid-column-start: 4;
}
.pizza__list {
  display: grid;
  grid-row-start: 2;
}
.pizza__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;
}
.pizza__info {
  font-size: 1.5rem;
}
.pizza__list__item {
  list-style: none;
}
.pizza__price__M {
  grid-row-start: 2;
}

.contact {
  font-family: "Staatliches", cursive;
  font-size: 2.2rem;
  opacity: 0.7;
  letter-spacing: 0.2rem;
}
.contact a {
  color: #000;
  text-decoration: none;
  background-color: none;
  transition: all 0.1s;
}
.contact a:hover {
  font-size: 2.4rem;
  font-size-adjust: 1.9rem;
  color: #4a4646;
}
.contact__name {
  text-align: left;
  font-weight: bold;
  font-size: 4.1rem;
  text-transform: uppercase;
  color: #fcc898;
}
.contact__name:hover {
  font-size: 4.2rem;
  opacity: 0.5;
}
.contact__square-1 {
  border: 0.2rem solid #aaa;
  border-radius: 2rem;
  z-index: 0;
  height: 15rem;
  width: 33rem;
  position: absolute;
  top: 30%;
  right: 10rem;
  text-align: center;
}
@media screen and (max-width: 37.5em) {
  .contact__square-1 {
    display: none;
  }
}
.contact__square-2 {
  border: 0.2rem solid #aaa;
  border-radius: 2rem;
  z-index: 0;
  height: 15rem;
  width: 33rem;
  position: absolute;
  top: 50%;
  right: 10rem;
  text-align: center;
}
@media screen and (max-width: 37.5em) {
  .contact__square-2 {
    display: none;
  }
}
.contact__description {
  height: 10rem;
  width: 40rem;
  position: absolute;
  top: 34%;
  right: 7rem;
  text-align: center;
  z-index: 10;
}
@media screen and (max-width: 37.5em) {
  .contact__description {
    display: none;
  }
}
.contact__phone {
  height: 10rem;
  width: 40rem;
  position: absolute;
  top: 55%;
  right: 7rem;
  text-align: center;
  z-index: 10;
}
@media screen and (max-width: 37.5em) {
  .contact__phone {
    display: none;
  }
}
@media screen and (max-width: 37.5em) {
  .contact__phone {
    display: none;
  }
}
.contact__mobile {
  display: grid;
  grid-template-columns: repeat(2, 230px);
  grid-column-gap: 4rem;
  padding: 2rem;
  background-color: #FEF2E7;
}
@media screen and (min-width: 37.5em) {
  .contact__mobile {
    display: none;
  }
}
@media screen and (max-width: 37.5em) {
  .contact__mobile {
    visibility: visible;
    padding: 0 1rem 1rem 1rem;
    font-family: "Open Sans Condensed", sans-serif;
  }
}
.contact__mobile--description {
  justify-self: center;
  grid-column: 1/2;
}
.contact__mobile--phone {
  justify-self: center;
  grid-column: 2/-1;
}

.preload {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #FEF2E7;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1000;
  transition: opacity 0.5s ease;
}

.loader {
  animation: rotate 3s linear infinite;
  transform-origin: bottom center;
}

ion-icon {
  font-size: 64px;
}

.pizza-icon {
  display: inline-block;
  color: #FFD8D8;
  margin: -10px;
  transform: scale(0);
  animation: grow 1.5s linear infinite;
}

.pizza-icon:nth-child(2) {
  color: #fcc898;
  animation-delay: 0.75s;
}

.loading {
  position: absolute;
  top: 45%;
  transform: translateY(-65%);
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

/*# sourceMappingURL=style.css.map */
