.main {
  font-family: $font-display;
  font-size: 2.2rem;
  opacity: .7;
  letter-spacing: .2rem;

  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
  a {
    color: $color-black;
    text-decoration: none; 
    background-color: none;
    transition: all .1s;
  }

  a:hover {
    font-size: 2.4rem;
    font-size-adjust: 1.9rem;
    color: $color-grey-dark;
  }

  &__header {
    display: grid;
    grid-column: 1 / -1;

    position: absolute;
    left: 10rem;
    top: 30%;

  }

  &__contact {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-row: -1;
    grid-column: 1 / -1;
    min-height: 50px;
    padding: 0 10rem 3.4rem 10rem;

  }

  &__name {
    text-align: left;
    font-weight: bold;
    font-size: 4.1rem;
    text-transform: uppercase;
    color: $color-secondary-dark;

    &:hover {
      font-size: 4.2rem;
      opacity: .5;
    }

  }

  &__description {
    grid-column: 1;

    @media screen and (max-width: $bp-small) {
      display: none;
    }

  }

  &__phone {
    grid-column-start: -1;

    @media screen and (max-width: $bp-small) {
      display: none;
    }

  }

  &__mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;

    font-family: $font-display;
    background-color: $color-primary-light;

    @media screen and (min-width: $bp-small) {
      display: none;
    }

    @media screen and (max-width: $bp-medium) {
      visibility: visible;
      padding: 0 1rem 1rem 1rem;
    }

    &--description {
      grid-column: 1 / 2;
    }

    &--phone {
      justify-self: right;
      grid-column: 2 / -1;
    }
  }
}